.mainClass {
  border: solid 1px blue;
  height: 1700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e7e6;
  flex-direction: column;
}

.drawQuestion {
  height: 200px;
  width: 350px;
  background-color: #ffef00;
  font-weight: 700;
  font-size: 50px;
  color: #008080;
}
